<footer class="footer">
    <div>
      <div class="flex-container">
        <div>
          <a [routerLink]="'/history'">History</a>
        </div>
        <div>
          <a [routerLink]="'/rockets'">Rockets</a>
        </div>
        <div>
          <a [routerLink]="'/about'">About</a>
        </div>
      </div>
      <hr>
    </div>

    <!-- Copyright -->
    <div class="backTop">
      <a [routerLink]="" (click)="foo()">Back to top</a>
    </div>
    <div class="copyright">&copy; 2020 All rights reserved. Design by Iryna Thompson</div>
    <!-- Copyright -->
  </footer>
